
/* セレクタ{プロパティ:　値;}
    セレクタ：デザインの適用先。
    pタグの場合、全てのp要素に。
    クラスの場合、HTML側で指定したクラスのみ反映。  
    クラスは複数のタグで使用可能。
    タグ名.クラス名でも可能。
    一つのセレクタに複数のプロパティが付けれる。
*/
/*　全てのpタグのフォントサイズが14pxになる*/
p {
    font-size: 14px;
    background-color: gray;
}

.pageTitle {
    font-size: 26px;
}

/* idの宣言は#で可能 
    NTML内で同じidは存在してはいけない    
*/
#title1 {
    font-size: 20px;
}