.DS_Store
UserInterfaceState.xcuserstate
20210226_COVID19/20210226_COVID19.xcodeproj/project.xcworkspace/xcuserdata/satoushougo.xcuserdatad/UserInterfaceState.xcuserstate
20210226_COVID19/.DS_Store
20210210/.DS_Store

